<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accessToken">

    <resultMap id="base" type="AccessToken">
        <id property="userId" column="USER_ID"/>
        <result property="token" column="TOKEN"/>
        <result property="expiredTime" column="EXPIRED_TIME"/>
    </resultMap>

</mapper>
